*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main{
    height: 100vh;
    width: 100vw; 
    display: flex;
    align-items: center;
    justify-content: center;
}
.button{
    height: 50px;
    width: 50px;
    border: 2px solid black;
    margin-left:10px;    
}
h1{
    text-align: center;
}
#grey{
    background-color: grey;
}
#green{
    background-color: green;
}
#white{
    background-color: white;
}
#yellow{
    background-color: yellow;
}

